*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container{
  width: 1100px;
  margin: auto;
}

/* Navbar*/
.navbar{
  background: white;
  padding: 18px 0;
}

.nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right{
  display: flex;
  align-items: center;
  gap: 23px;
}

.nav-menu{
  display: flex;
  gap: 30px;
  list-style: none;
}

.btn{
  background: #4CAF4F;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
}
 /* Hero */

.hero{
  background: #F5F7FA;
  padding: 80px 0;
  height: 415px;
}

.hero-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1{
  font-size: 45px;
  margin-bottom: 10px;
}

.hero-text span{
  color: #4CAF4F;
}



